.coffee{
    overflow-x: auto;
    margin-bottom: 23rem;
    &__container{
        background: linear-gradient(137deg, #252a32 0%, #262b33 100%);
        width: 149rem;
        border-radius: 23rem;
        padding: 12rem 11rem 23rem 12rem;
    }
    &__main-container{
        display: flex;
        justify-content: start;
        margin-bottom: 5rem;
    }
    &__objects{
        display: flex;
        justify-content: space-between;
        gap: 22rem;
    }
    &__image{
        position: relative;
        max-width: 136rem;
        border-radius: 16rem;
        margin-bottom: 5rem;
    }
    &__mark{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        gap: 4.8rem;
        align-items: center;
        border-radius: 0 16rem 0 26rem;
        max-width: 53rem;
        background: rgba(0, 0, 0, 0.6);
        padding: 2rem 10rem;
    }
    &__mark-text{
        font-family: var(--font-family);;
        font-weight: 600;
        font-size: 10rem;
        line-height: 200%;
        color: var(--header-color);
    }
    &__name{
        font-weight: 400;
        font-size: 13rem;
        line-height: 154%;
        color: var(--header-color);
        margin-bottom: 1rem;
    }
    &__desc{
        font-weight: 400;
        font-size: 9rem;
        line-height: 222%;
        color: var(--header-color);
        margin-bottom: 3rem;
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        padding-right: 6rem;
        align-items: center;
    }
    &__price{
        font-weight: 600;
        font-size: 15rem;
        line-height: 133%;
        color: var(--header-color);
    }
    &__button{
        background-color: var(--second-color);
        border: none;
        cursor: pointer;
        width: 28rem;
        height: 28rem;
        border-radius: 7rem;
        &link__icon{
            font-size: 10rem;
            margin-inline: auto;
            
        }
    }
    &__link{
        max-width: 149rem;
    }
}
.dollar{
    color: var(--second-color);
    margin-right: 4rem;
}
.item{
    width: 491rem;
    gap: 22rem;
    padding: 0;
    margin: 0;
    margin-bottom: 30rem;
}
.icon-star{
    font-size: 10rem;
}